<div data-ng-init="init()">
    <button ng-click="changeRepeat()">Repeat</button>
    <button ng-click="changeShuffle()">Shuffle</button>
    <button ng-click="changeSlideshow()">Slideshow</button>
    <button ng-click="changeState()">State</button>

    <div style="margin-bottom: 30px;">
        Repeat: {{ settings.repeat }} <br />
        Shuffle: {{ settings.shuffle }} <br />
        Slideshow: {{ settings.slideshow }} <br />
        State: {{ settings.state }} <br />
    </div>

    <div id="divCard" style="border: 1px solid black; width: 150px; margin-bottom: 30px;"></div>

    <!--<div ng-repeat="card in cards" style="border: 1px solid black; width: 150px; margin-bottom: 30px;">
        {{ card.FrontTitle }}
        <br />
        {{ card.FrontText }}
    </div>-->
</div>