@using System.Configuration

@section head{
    <base href="@ConfigurationManager.AppSettings["BaseUrlPath"]" />
}

<div ng-app="kiriwaApp" ng-cloak>
    <div style="margin-bottom: 50px;">
        <a href="Home">Home</a>
        |
        <a href="Stacks">Stacks</a>
    </div>

    <ng-view></ng-view>
</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/app")